body{
    margin: 0%;
    height: 100%;
    width: 100%;
}
.loader{
div{
    height: 70px;
    width: 70px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px; 
    display: flex;
    animation: spin 1s linear infinite;
}
.parent{
    align-items: center;
    display: flex;    
    justify-content: center;
    height: 100%;
    width: 100%;
    border-top-color:#444444 ;
    margin: 0px auto;
    margin-top: 20%;
    margin-bottom: 20%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 
.loader{
    animation: spin 1s linear infinite;
}     

@keyframes spin{
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}